In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('audomcitypairs-201912.csv')
df.head

FileNotFoundError: [Errno 2] No such file or directory: 'audomcitypairs-201912.csv'

In [6]:
#create a json file for the data
df.to_json('audomcitypairs-201912.json', orient='records', lines=True)

In [7]:
#extract the first two columns of the data 
df1 = df.iloc[:,0:2]
df1.to_csv('geolocation.csv', index=False)

In [8]:
loc = pd.read_csv('geolocation.csv')
loc.head(3)

# Combine 'City1' and 'City2' columns into one column and remove duplicate city names
combined_cities = pd.concat([loc['City1'], loc['City2']]).drop_duplicates().reset_index(drop=True)
combined_cities.to_csv('city.csv', index=False)

In [11]:
#convert kml to csv
import simplekml
kml = simplekml.Kml()

#i have a kml file with the coordinates of the cities
with open('D:\\FIT3179\\Github\\3179\\test\\kml', 'r') as f:
    for line in f:
        if 'coordinates' in line:
            coordinates = line.split('>')[1].split('<')[0].split(',')
            kml.newpoint(coords=[(coordinates[0], coordinates[1])])
kml.save("D:\\FIT3179\\Github\\3179\\test\\city.kml")

In [3]:
# #convert kml to csv file

# df = pd.DataFrame(columns=['longitude', 'latitude'])

# with open('D:\\FIT3179\\Github\\3179\\test\\kml', 'r') as f:
#     for line in f:
#         if 'coordinates' in line:
#             coordinates = line.split('>')[1].split('<')[0].split(',')
#             df = df.append({'longitude': coordinates[0], 'latitude': coordinates[1]}, ignore_index=True)
# df.to_csv('D:\\FIT3179\\Github\\3179\\test\\city.csv', index=False)

In [3]:
import pandas as pd

# Step 1: Initialize DataFrame
df = pd.DataFrame(columns=['longitude', 'latitude', 'city'])
# Step 2: Read KML File
with open('D:\\FIT3179\\Github\\3179\\test\\Geolocation.kml', 'r') as f:
    city = None
    for line in f:
        # Step 3: Extract City Name
        if '<address>' in line:
            city = line.split('>')[1].split('<')[0].strip()
        # Step 4: Extract Coordinates
        if '<coordinates>' in line:
            coordinates = line.split('>')[1].split('<')[0].strip().split(',')
            longitude = coordinates[0]
            latitude = coordinates[1]
            # Step 5: Append to DataFrame using pd.concat
            new_row = pd.DataFrame({'longitude': [longitude], 'latitude': [latitude], 'city': [city]})
            df = pd.concat([df, new_row], ignore_index=True)

# Step 6: Save to CSV
df.to_csv('D:\\FIT3179\\Github\\3179\\test\\new_geolocation.csv', index=False)

# Display the DataFrame
print(df.head())

     longitude     latitude               city
0  151.2092955  -33.8688197             Sydney
1  144.9630576  -37.8136276          Melbourne
2  153.0260341  -27.4704528           Brisbane
3  115.8533099  -31.9508929  Destination Perth
4        153.4   -28.016667         Gold Coast

In [18]:
df = pd.read_csv('audomcitypairs-201912.csv')
df.head()

,City1,City2,Month,Passenger_Trips,Aircraft_Trips,Passenger_Load_Factor,Distance_GC_(km),RPKs,ASKs,Seats,Year,Month_num
0,ADELAIDE,ALICE SPRINGS,30682,15743,143,81.8,1316,20717788,25327369,19246,1984,1
1,ADELAIDE,BRISBANE,30682,3781,32,89.8,1622,6132782,6829379,4210,1984,1
2,ADELAIDE,CANBERRA,30682,1339,12,94.7,972,1301508,1374348,1414,1984,1
3,ADELAIDE,DARWIN,30682,3050,33,66.8,2619,7987950,11958009,4566,1984,1
4,ADELAIDE,GOLD COAST,30682,1596,16,88.5,1607,2564772,2898047,1803,1984,1

In [10]:
df = pd.read_csv('D:\\FIT3179\Github\\3179\\test\\new_data\\combined.csv')
df.head()

C:\Users\princ\AppData\Local\Temp\ipykernel_3260\1285266634.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\\FIT3179\Github\\3179\\test\\new_data\\combined.csv')

,City1,City2,Month,Passenger_Trips,Aircraft_Trips,Passenger_Load_Factor,Distance_GC_(km),RPKs,ASKs,Seats,Year,Month_num
0,ADELAIDE,ALICE SPRINGS,30682,15743,143,81.8,1316,20717788.0,25327369.0,19246,1984,1
1,ADELAIDE,BRISBANE,30682,3781,32,89.8,1622,6132782.0,6829379.0,4210,1984,1
2,ADELAIDE,CANBERRA,30682,1339,12,94.7,972,1301508.0,1374348.0,1414,1984,1
3,ADELAIDE,DARWIN,30682,3050,33,66.8,2619,7987950.0,11958009.0,4566,1984,1
4,ADELAIDE,GOLD COAST,30682,1596,16,88.5,1607,2564772.0,2898047.0,1803,1984,1

In [11]:
#check how many ppl have travelled to each city 
city1 = df['City1'].value_counts()
city2 = df['City2'].value_counts()
city = city1.add(city2, fill_value=0).astype(int)
city = city.reset_index()
city.columns = ['city', 'count']
city.to_csv('city_count.csv', index=False)

In [12]:
city_count = pd.read_csv('city_count.csv')
city_count.head(3)

            city  count
0       ADELAIDE  13992
1         ALBURY   1742
2  ALICE SPRINGS   5292

In [13]:
#combine the city_count and city.csv
city = pd.read_csv('city.csv')
city_count = pd.read_csv('city_count.csv')
city = pd.merge(city, city_count, on='city')
city.to_csv('city_combined.csv', index=False)

In [15]:
#get the three most popular cities
city = pd.read_csv('city_combined.csv')
city = city.sort_values(by='count', ascending=False)
city = city.head(4)
city

     longitude   latitude       city  count
18  151.209295 -33.868820     SYDNEY  32293
15  144.963058 -37.813628  MELBOURNE  25177
3   153.026034 -27.470453   BRISBANE  24234
16  115.861678 -31.951399      PERTH  14838

In [8]:
import pandas as pd
import glob

csv_files = glob.glob('D:\\FIT3179\\Github\\3179\\test\\new_data\\*.csv')
combine_df = pd.concat([pd.read_csv(f) for f in csv_files])
combine_df.to_csv('D:\\FIT3179\\Github\\3179\\test\\new_data\\combined.csv', index=False)

df = pd.read_csv('D:\\FIT3179\\Github\\3179\\test\\new_data\\combined.csv')
df.head()

C:\Users\princ\AppData\Local\Temp\ipykernel_3260\2423436580.py:8: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\\FIT3179\\Github\\3179\\test\\new_data\\combined.csv')

,City1,City2,Month,Passenger_Trips,Aircraft_Trips,Passenger_Load_Factor,Distance_GC_(km),RPKs,ASKs,Seats,Year,Month_num
0,ADELAIDE,ALICE SPRINGS,30682,15743,143,81.8,1316,20717788.0,25327369.0,19246,1984,1
1,ADELAIDE,BRISBANE,30682,3781,32,89.8,1622,6132782.0,6829379.0,4210,1984,1
2,ADELAIDE,CANBERRA,30682,1339,12,94.7,972,1301508.0,1374348.0,1414,1984,1
3,ADELAIDE,DARWIN,30682,3050,33,66.8,2619,7987950.0,11958009.0,4566,1984,1
4,ADELAIDE,GOLD COAST,30682,1596,16,88.5,1607,2564772.0,2898047.0,1803,1984,1

In [9]:
# Filter the DataFrame for rows where 'Year' is greater than or equal to 2020
df_filtered = df[df['Year'] >= 2014]
df_filtered.to_csv('D:\\FIT3179\\Github\\3179\\test\\new_data\\filtered.csv', index=False)

df_filtered = pd.read_csv('D:\\FIT3179\\Github\\3179\\test\\new_data\\filtered.csv')
df_filtered.head()

,City1,City2,Month,Passenger_Trips,Aircraft_Trips,Passenger_Load_Factor,Distance_GC_(km),RPKs,ASKs,Seats,Year,Month_num
0,ADELAIDE,ALICE SPRINGS,41640,0,0,0.0,1316,0.0,0.0,0,2014,1
1,ADELAIDE,BRISBANE,41640,64448,513,77.5,1622,104534656.0,134870922.0,83151,2014,1
2,ADELAIDE,CANBERRA,41640,11671,152,66.7,972,11344212.0,16995420.0,17485,2014,1
3,ADELAIDE,GOLD COAST,41640,21076,156,77.8,1607,33869132.0,43549700.0,27100,2014,1
4,ADELAIDE,MELBOURNE,41640,184780,1573,77.2,643,118813540.0,153912981.0,239367,2014,1

In [7]:
import pandas as pd 
sheet_names = ['Table 1a','Table 1b','Table 2a','Table 2b','Table 3a','Table 3b','Table 4','Table 5','Table 6','Table 7','Table 8', 'Table 9','Table 10','Table 13','Table 14','Table 15','Table 16','Table 17','Table 18']  # Example sheet names, replace with actual names
for sheet_name in sheet_names:
    df = pd.read_excel('D:\\FIT3179\\Github\\3179\\test\\raw_data\\tra-nvs-quarterly-june-2024-2023.xlsx', sheet_name=sheet_name)
    df.to_csv(f'D:\\FIT3179\\Github\\3179\\test\\raw_data\\{sheet_name}.csv', index=False)
    print(f"Processed {sheet_name}")

Processed Table 1a
Processed Table 1b
Processed Table 2a
Processed Table 2b
Processed Table 3a
Processed Table 3b
Processed Table 4
Processed Table 5
Processed Table 6
Processed Table 7
Processed Table 8
Processed Table 9
Processed Table 10
Processed Table 13
Processed Table 14
Processed Table 15
Processed Table 16
Processed Table 17
Processed Table 18

In [8]:
import pandas as pd

# Load the Excel file
data_file = 'D:\\FIT3179\Github\\3179\\test\\raw_data\\tra-nvs-quarterly-june-2024-2023.xlsx'
xls = pd.ExcelFile(data_file)

# Initialize an empty list to store cleaned data from each sheet
cleaned_data = []

# Iterate through each sheet in the Excel file
for sheet_name in xls.sheet_names:
    # Load the sheet into a DataFrame
    df = pd.read_excel(xls, sheet_name=sheet_name)
    
    # Assuming the actual data starts after a few rows of titles/explanations
    # Here, we try to locate the first row that looks like data
    for i in range(len(df)):
        if df.iloc[i].notna().sum() > 3:  # Assuming a data row has more than 3 non-NA values
            df = df.iloc[i:]
            break

    # Reset column headers if necessary
    df.columns = df.iloc[0]  # Set the first row as header
    df = df[1:]  # Drop the header row from the data
    
    # Drop columns with all NaN values (optional)
    df = df.dropna(axis=1, how='all')
    
    # Drop rows with all NaN values (optional)
    df = df.dropna(axis=0, how='all')
    
    # Ensure the index is unique to avoid reindexing issues
    df.reset_index(drop=True, inplace=True)
    
    # Store cleaned DataFrame in the list
    cleaned_data.append(df)

# Save each cleaned DataFrame to one CSV file
for i, df in enumerate(cleaned_data):
    df.to_csv(f'D:\\FIT3179\\Github\\3179\\test\\raw_data\\{xls.sheet_names[i]}.csv', index=False)
    print(f"Saved {xls.sheet_names[i]}.csv")

Saved Index.csv
Saved Table 1a.csv
Saved Table 1b.csv
Saved Table 2a.csv
Saved Table 2b.csv
Saved Table 3a.csv
Saved Table 3b.csv
Saved Table 3c.csv
Saved Table 4.csv
Saved Table 5.csv
Saved Table 6.csv
Saved Table 7.csv
Saved Table 8.csv
Saved Table 9.csv
Saved Table 10.csv
Saved Table 13.csv
Saved Table 14.csv
Saved Table 15.csv
Saved Table 16.csv
Saved Table 17.csv
Saved Table 18.csv
Saved Reference.csv

In [2]:
import csv
from geopy.geocoders import Nominatim
import time

# Initialize Nominatim API
geolocator = Nominatim(user_agent="geoapiExercises")

# List of locations
locations = [
    "Sydney", "Melbourne", "Brisbane", "Perth", "Gold Coast", "North Coast NSW", "Hunter", 
    "Sunshine Coast", "South Coast", "Peninsula", "Yarra Valley", "Dandenong Ranges", 
    "Adelaide", "Queensland Country", "Geelong and the Bellarine", "Australia's South West", 
    "Central Coast", "Central NSW", "Blue Mountains", "Gippsland", "Great Ocean Road", 
    "Capital Country", "Tropical North Queensland", "Fleurieu Peninsula", "Bendigo Lodden", 
    "Hobart and the South", "Ballarat", "High Country", "Canberra", "New England North West", 
    "Phillip Island", "Goulburn", "Riverina", "Townsville", "Launceston and the North", 
    "Macedon", "Adelaide Hills", "Capricorn Coast", "North West", "The Murray", 
    "Australia's Coral Coast", "Australia's Golden Outback", "Bundaberg", "Central Murray", 
    "Fraser Coast", "Mackay", "Lakes", "Barossa", "Murray, River, Lakes and Coorong", 
    "Yorke Peninsula", "Limestone Coast"
]

# File path to save the CSV
output_file = 'location_geocodes.csv'

# Open CSV file for writing
with open(output_file, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Location", "Latitude", "Longitude"])  # Writing the headers

    # Fetch latitude and longitude for each location
    for location in locations:
        try:
            location_data = geolocator.geocode(location)
            if location_data:
                writer.writerow([location, location_data.latitude, location_data.longitude])
            else:
                writer.writerow([location, "Not Found", "Not Found"])
        except Exception as e:
            writer.writerow([location, "Error", "Error"])
        time.sleep(1)  # To avoid being blocked by the API

print(f"Geolocation data has been saved to {output_file}")

Geolocation data has been saved to location_geocodes.csv

In [4]:
import pandas as pd

df = pd.read_csv(r'D:\FIT3179\Github\3179\test\raw_data\Table 16.csv')
location = pd.read_csv(r'D:\FIT3179\Github\3179\test\new_geolocation.csv')

#combine the two dataframes
df = pd.merge(df, location, left_on='Region', right_on='city', how='left')
df = df.drop(columns=['city'])
df.head()
df.to_csv('D:\\FIT3179\\Github\\3179\\test\\new_data\\Table 16.csv', index=False)