In [2]:
import numpy as np
import matplotlib.pyplot as plt
import os 
import pandas as pd

In [3]:
sheets = pd.read_excel('D:\\FIT3179\\Github\\3179\A2\\01_AgCommodities202403_Tables_v1.0.0.xlsx', sheet_name=None)
print(sheets.keys())

cleaned_sheets = {}
for sheet_name, df in sheets.items():
    # Example: Convert a specific column to numeric
    if 'column_name' in df.columns:
        df['column_name'] = pd.to_numeric(df['column_name'], errors='coerce')
        df['column_name'].fillna(df['column_name'].mean(), inplace=True)
    
    # Store the cleaned DataFrame
    cleaned_sheets[sheet_name] = df

# Optionally, save cleaned sheets back to a new Excel file
with pd.ExcelWriter('cleaned_data.xlsx') as writer:
    for sheet_name, df in cleaned_sheets.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

dict_keys(['Index', 'Key macro', 'Major indicators', 'Beef &amp;amp; veal', 'Chicken', 'Coarse grains', 'Dairy', 'Fisheries', 'Horticulture', 'Natural fibres', 'Oilseeds', 'Pig', 'SheepMeat', 'Sugar', 'Wheat', 'Wine'])

In [6]:
#combined all the sheet into one dataframe from the cleaned_data.xlsx
df = pd.read_excel('cleaned_data.xlsx', sheet_name=None)
df = pd.concat(df, ignore_index=True)
print(df.head())

   Unnamed: 0 Agricultural commodities March 2024 Unnamed: 2 Unnamed: 3  \
0         NaN                                 NaN        NaN        NaN
1         NaN                                 NaN        NaN        NaN
2         NaN                                 NaN        NaN        NaN
3         NaN                                 NaN        NaN        NaN
4         NaN                                 NaN        NaN        NaN

  Unnamed: 4 Unnamed: 1 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  Unnamed: 9 Unnamed: 10
0        NaN         NaN
1        NaN         NaN
2        NaN         NaN
3        NaN         NaN
4        NaN         NaN

In [7]:
import pandas as pd

# Step 1: Load the Excel File with all sheets
excel_file = 'D:\\FIT3179\\Github\\3179\\A2\\01_AgCommodities202403_Tables_v1.0.0.xlsx'
sheets = pd.read_excel(excel_file, sheet_name=None)

# Step 2: Concatenate Sheets
# Create an empty list to hold DataFrames
df_list = []

# Iterate over each sheet and append to the list
for sheet_name, df in sheets.items():
    df['SheetName'] = sheet_name  # Optionally add a column to identify the sheet
    df_list.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Step 3: Save the Combined Data
# Optionally, save to a new Excel file or CSV
combined_df.to_excel('combined_data.xlsx', index=False)
# or
combined_df.to_csv('combined_data.csv', index=False)

# Display the combined DataFrame
print(combined_df.head())

   Unnamed: 0 Agricultural commodities March 2024 Unnamed: 2 Unnamed: 3  \
0         NaN                                 NaN        NaN        NaN
1         NaN                                 NaN        NaN        NaN
2         NaN                                 NaN        NaN        NaN
3         NaN                                 NaN        NaN        NaN
4         NaN                                 NaN        NaN        NaN

  Unnamed: 4 SheetName Unnamed: 1 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN     Index        NaN        NaN        NaN        NaN        NaN
1        NaN     Index        NaN        NaN        NaN        NaN        NaN
2        NaN     Index        NaN        NaN        NaN        NaN        NaN
3        NaN     Index        NaN        NaN        NaN        NaN        NaN
4        NaN     Index        NaN        NaN        NaN        NaN        NaN

  Unnamed: 9 Unnamed: 10
0        NaN         NaN
1        NaN         NaN
2        NaN         NaN
3        NaN         NaN
4        NaN         NaN

In [17]:
df = pd.read_excel('AustFishAquacStats_2022_Tables_v1.0.0.xlsx')
df.dropna(axis=0, how='all', inplace=True)
df

,Unnamed: 0,Australian fisheries and aquaculture statistics 2022,Unnamed: 2,Unnamed: 3,Unnamed: 4
6,NaN,NaN,Statistical tables,NaN,NaN
8,NaN,NaN,Table 1,NaN,Gross value of fisheries and aquaculture produ...
9,NaN,NaN,Table 2,NaN,"Fisheries and aquaculture production, Australia"
10,NaN,NaN,Table 3,NaN,"Wild-caught fisheries production, Australia"
11,NaN,NaN,Table 4,NaN,"Aquaculture production, Australia"
12,NaN,NaN,Table 5,NaN,"Fisheries and aquaculture production, New Sout..."
13,NaN,NaN,Table 6,NaN,"Fisheries and aquaculture production, Victoria"
14,NaN,NaN,Table 7,NaN,"Fisheries and aquaculture production, Queensland"
15,NaN,NaN,Table 8,NaN,"Fisheries and aquaculture production, South Au..."
16,NaN,NaN,Table 9,NaN,"Fisheries and aquaculture production, Western ..."
17,NaN,NaN,Table 10,NaN,"Fisheries and aquaculture production, Tasmania"
18,NaN,NaN,Table 11,NaN,"Fisheries and aquaculture production, Northern..."
19,NaN,NaN,Table 12,NaN,"Fisheries production, Commonwealth"
20,NaN,NaN,Table 13,NaN,Value and volume of fisheries products exports...
21,NaN,NaN,Table 14,NaN,Value and volume of fisheries production expor...
22,NaN,NaN,Table 15,NaN,Value and volume of fisheries products imports...
23,NaN,NaN,Table 16,NaN,Value and volume of fisheries production impor...
24,NaN,NaN,Table 17,NaN,"Apparent consumption of seafood, Australia"
25,NaN,NaN,Table 18,NaN,Estimated employment in the Australian commerc...
27,NaN,© Commonwealth of Australia 2023. Ownership of...,NaN,NaN,NaN